{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Call for Papers Talk Ideas</h2>
    <p>
        {{ site.title }} usually showcases:
		<ul>
			<li>new development traits
			<li>best-practices and success cases related to quality
			<li>revision control
			<li>test-driven development
			<li>continuous integration
			<li>application design
			<li>project management
			<li>new devops trends
			<li>high scalability
			<li>new PHP versions and features
			<li>automation
			<li>php-related technologies like Zend Framework2, Symfony2, Laravel, Drupal, Wordpress, etc. 
		</ul>
    </p>
	<p>But this is just an example. Feel free to impress us!</p>
</div>
{% endblock %}

