{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline">Call for Papers Talk Ideas</h2>
    <p>
        {{ site.title }} usually showcases:
		<ul>
			<li>automation (grunt, gulp, etc)
			<li>ECMA 6 and 7
			<li>comet, ember, angular
			<li>nodejs
			<li>workers
			<li>webrtc (video & audio)
			<li>videogames
			<li>desktop & mobile applications
			<li>performance
			<li>browsers debug & test
			<li>html5 stuff
		</ul>
    </p>
	<p>But this is just an example. Feel free to impress us!</p>
</div>
{% endblock %}

