{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">{{ site.title }} Speaker Information</h2>
    <p>
        We're committed to bringing together some of the best speakers from all around the
        world to share their knowledge with you here. We provide a travel and
        accommodation package to all selected speakers to help make this possible.
    </p>
    <h4 class="headline--alpha">About the event</h4>
    <p>
        Speakers will be provided with a projector, a wireless lapel microphone and a screen
        for their presentation (size depends on the room). If possible, speakers should bring any equipment
        they need to connect to projectors (VGA). It is also suggested that you reduce your
        dependency on the in-house internet connection as possible.
    </p>
    <p>
        When the Call for Papers closes, the organizers will sort through the submissions, making
        their selections. Speakers will be notified as soon as the selection process has been completed.
    </p>
    <h4 class="headline--alpha">This year's package</h4>
    <p>
        Our speaker package for this year's event includes:
    </p>
    <ul>
        <li>Full conference pass (jsDay + phpDay)</li>
        <li>For speakers remote to the Area:</li>
        <ul>
			<li>A refund of up to €200 for travel costs (or €500 from US or extra-EU)</li>
            <li>2 complimentary hotel nights (+1 hotel night for speakers presenting multiple talks or US/extra-EU)</li>
            <li>Taxi fare from/to the airport</li>
        </ul>
        <li>Lunch, receptions and activities included in regular conference</li>
        <li>Speaker dinner, the first evening of the conference</li>
    </ul>
    <h4 class="headline--alpha">Tips for Submission</h4>
    <p>
        We encourage potential speakers to submit more than one submission on more than one topic, but please
		<strong>try to keep the number as low as possible</strong>. We receive a huge number of submissions and the voting
		process is incredibly time consuming, so we need your help: <strong>pick the few talks that you think are your best shots!</strong>
		Also, make sure your talk title and abstract define the exact topic you want to talk about and what you hope people
		will learn from the session.
    </p>
</div>
{% endblock %}
